{% extends 'base.html'%}
{% block content %}
<div class="formcontainer signup">
    <form action="">
        <div class="social-icons">
            <a href="" class="icons">
                <i class="fa-brands fa-google-plus-g"></i>
            </a>
            <a href="" class="icons">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="" class="icons">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="" class="icons">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>

        </div>
        <span>or use your email for registration</span>
        <input type="text" placeholder="Name"> 
        <input type="email" placeholder="Email">
         <input type="password" placeholder="Password">
    </form>
</div>
{% endblock %}